        <h1 class="text-center">Wellcome To My Contact Application</h1>
             <div class="text-center">
                 <img src="https://wpintegrate.com/wp-content/uploads/2017/09/on_color_large.png" class="rounded" alt="">
             </div>
            <div class="text-center p-5">
                 
                         <button {{action "gotohomepage"}}>Home Page</button>

                     
            </div>
       
{{outlet}}

