	<div class="navbar-light  container text-center p-3">						
					<h1>MY CONTACT APPICATION</h1>
		</div>
<div class="p-2 container border d-flex  justify-content-center">
	
		<div class="p-2 m-2 d-flex flex-column   w-50">

				  <button class="p-3 m-2"><LinkTo @route="contacthome.Addcontact">ADD MORE CONTACT</LinkTo></button>
				  <button class="p-3 m-2" ><LinkTo @route="contacthome.viewcontactlist"	{{action "listpage"}}>VIEW CONTACT LIST</LinkTo></button>		

					
		</div>

		
				
</div>
{{outlet}}